{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block header %}
	<div class="logoBarDesign">
		<nav class="row navbar-expand-lg navbar navbar-dark">						
			<a href="" class=""> <img src="/img/logo.svg" class="" alt="Budżet osobisty"></a>
		</nav>
	</div>
{% endblock %}

{% block body %}

	<div class="row align-items-center">
		<div class="col-1 col-sm-2 col-lg-3 col-xl-4 "></div>
		<div class="basicContainer col-10 col-sm-8 col-lg-6 col-xl-4 text-center">
		    <h1>Rejestracja</h1>
		    
		    <p>Aktywacja konta przebiegła pomyślnie. Możesz się <a href="/login/new">zalogować</a>.</p>
		</div>
	</div>
{% endblock %}	