{% extends "base.html" %}

{% block title %}Nie znaeziono strony{% endblock %}

{% block body %}

<div class="row errorContainer col-12 d-flex justify-content-center text-center">
	<div class="col-12">
		<h1>404</h1>	
	<h2>Przepraszamy, nie znaleziono strony</h2>
	</div>
	<div class="col-12 text-center">
	<img src="/img/404.webp" class="rounded" alt="error">
		
	</div>
    <a><em>Nie można znaleźć żądanej strony</em></p>
    <div class="col-12">
    <a href="https://www.budget.maciej-klosinski.profesjonalnyprogramista.pl">Powrót</a>  
    </div> 
</div>


{% endblock %}
{% block scripts %}
 
{% endblock %}
